@import "utilities"

//Elements

body
  font-family: $font-stack
  color: $color
  background-color: $background-color

div
  @extend %zerobox

//span
//  @extend %zerobox

button
  color: $color
  background-color: $primary-color

a
  text-decoration: none

  &:visited
    text-decoration: none

table, th, td
  border-collapse: collapse

th, td
  border: 1px solid $color

input
  color: $color
  background-color: $background-color

.dash-dropdown
  *
    background-color: rgba(0, 0, 0, 0.8)
    color: white

  .VirtualizedSelectFocusedOption, .VirtualizedSelectOption, .VirtualizedSelectSelectedOption
    background-color: rgba(0, 0, 0, 0.8)
    color: white

.dash-error-card--container
  color: black