.dash-dropdown .VirtualizedSelectFocusedOption {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}
.dash-dropdown .VirtualizedSelectOption {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
.dash-dropdown .VirtualizedSelectSelectedOption {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}