#cytoscape-two-nodes {
    border: 2px solid black;
}

/*#launch_pnl {*/
/*    display: flex;*/
/*}*/

#launch_pnl_content {
    flex-flow: column nowrap;
}

#dashboard_pnl_titlebar_menu_run_ie > button {
    background-color: #f06000;
}

#dashboard_pnl_titlebar_menu_run_ie:hover > button {
    background-color: grey;
}

#compare_pnl_titlebar_menu_select-run_ie > .dd {
    display: flex;
}

#compare_pnl_titlebar_menu_select-run_ie > button {
    background-color: #f06000;
}

#compare_pnl_titlebar_menu_select-run_ie:hover > button {
    background-color: grey;
}

/*#dashboard_pnl_topbar {*/
/*    background-color: green;*/
/*}*/

/*#launch-title {*/
/*    font-size: 2em;*/
/*}*/

/*#launch-content {*/
/*    flex-flow: column nowrap;*/
/*}*/

/*#launch-content button {*/
/*    width: 100%;*/
/*    padding: 32px;*/
/*    font-size: 2em;*/
/*}*/

/*#init-i-panel {*/
/*    margin: 0px 0px;*/
/*}*/

/*#init-i-titlebar {*/
/*    border: 4px solid #f06000;*/
/*}*/

/*#init-i-content {*/
/*    border: none;*/
/*    background-color: white;*/
/*}*/

/*#config-content {*/
/*    flex-direction: column;*/
/*}*/

/*#init-i-menubutton-run {*/
/*    background-color: #f06000;*/
/*}*/

/*#init-i-menubutton-run:hover {*/
/*    background-color: #904000;*/
/*}*/