@import utilities

#cfg_pnl
  flex: 0 1 auto

#network_pnl
  flex: 1 1 55%

  > .content
    flex-flow: row nowrap
    height: 24em

#stats_pnl
  flex: 1 1 auto

#m-res_pnl
  flex: 1 1 30%
  > .content
    > *
      display: block

#perf_pnl
  flex: 1 1 30%
  > .content
    > *
      display: block

#m-res-run1_pnl
  flex: 1 1 45%
  > .content
    > *
      display: block

#m-res-run2_pnl
  flex: 1 1 45%
  > .content
    > *
      display: block

#perf-run1_pnl
  flex: 1 1 45%

  > .content
    > *
      display: block

#perf-run2_pnl
  flex: 1 1 45%

  > .content
    > *
      display: block

#network_pnl_sidebar
  width: 15%
  background-color: lightgray

#network_pnl_topology-graph
  width: 85%
  height: 100%

#network_pnl_active_protocols, #m-res_pnl_active_protocols, #m-res-run1_pnl_active_protocols, #m-res-run2_pnl_active_protocols
  display: flex
  flex-flow: column nowrap
